*

!pnpm-lock.yaml
!pnpm-workspace.yaml

!evm/abi
!evm/package.json

!worker/esbuild.js
!worker/oasisprotocol-sapphire-paratime-1.1.1.tgz
!worker/package.json
!worker/src
!worker/tsconfig*.json
!worker/workerd_config.capnp
!worker/config

!ssss/src/
!ssss/Cargo.toml
!ssss/Cargo.lock
!ssss/rust-toolchain.toml
!ssss/s4/src
!ssss/s4/Cargo.toml
