*

!pnpm-lock.yaml
!pnpm-workspace.yaml

!evm/abi
!evm/package.json

!worker/esbuild.js
!worker/oasisprotocol-sapphire-paratime-1.1.1.tgz
!worker/package.json
!worker/src
!worker/tsconfig*.json
!worker/workerd_config.capnp
!worker/config
