[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm/lib/sapphire-paratime"]
	path = evm/lib/sapphire-paratime
	url = https://github.com/oasisprotocol/sapphire-paratime
[submodule "evm/lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
